{# add navigation current nav mark #}
{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Front-Office D&i{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% block stylesheets %}

        {% stylesheets filter='cssrewrite'
        '@SfWebAppBackOfficeBundle/Resources/public/css/libs/bootstrap.min.css'
        '@SfWebAppBackOfficeBundle/Resources/public/css/libs/bootstrap-theme.min.css'
        '@SfWebAppBackOfficeBundle/Resources/public/css/libs/jquery-ui.min.css'
        '@SfWebAppBackOfficeBundle/Resources/public/css/libs/jquery-ui.structure.min.css'
        '@SfWebAppFrontOfficeBundle/Resources/public/css/libs/jquery.dataTables.min.css'
        '@SfWebAppFrontOfficeBundle/Resources/public/css/front-office.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}

    {% endblock %}
</head>
<body>
<div class="container">
    {% block header %}{% endblock %}
    {% block flash %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div>
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div>
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock footer %}
</div>
{% block javascripts %}
    {% javascripts
    '@SfWebAppFrontOfficeBundle/Resources/public/js/libs/datables-fo.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        // get locale
        locale = "{{ app.request.locale }}";
        // get route
        route = "{{ route }}";
    </script>
{% endblock %}

</body>
</html>