<nav>
    <ul>
        <li>
            <a href="{{ path('sfwebapp_main_default_index') }}">Home</a>
        </li>
        <li>
            <a href="{{ path('channels_index') }}">Channels</a>
        </li>
        <li>
            <a href="{{ path('videos_index') }}">Videos</a>
        </li>
        <li>
            <a href="{{ path('users_index') }}">Users</a>
        </li>
        <li>
            <a href="{{ path('favsid_index') }}">favsid</a>
        </li>



    </ul>
</nav>