<nav>
    <ul>
        <li>
            <a href="{{ path('sfwebapp_main_default_index') }}">Home</a>
<<<<<<< HEAD
        </li>
        <li>
=======
        </li><li>
>>>>>>> 5370a328d4de7c27011f0f593427c51a96fb60a6
            <a href="{{ path('channels_index') }}">Channels</a>
        </li>
        <li>
            <a href="{{ path('videos_index') }}">Videos</a>
        </li>
        <li>
            <a href="{{ path('users_index') }}">Users</a>
        </li>
        <li>
            <a href="{{ path('favsid_index') }}">favsid</a>
        </li>
<<<<<<< HEAD
        <li>
            <a href="{{ path('products_index') }}">Products</a>
        </li>
=======
>>>>>>> 5370a328d4de7c27011f0f593427c51a96fb60a6

    </ul>
</nav>