<nav class="navigator">
    <div class="container">
        <ul>
            <li><a class="navigator__item" href="{{ path('sfwebapp_main_default_index') }}">Home</a></li>
            <li><a class="navigator__item" href="{{ path('channels_index') }}">Channels</a></li>
            <li><a class="navigator__item" href="{{ path('videos_index') }}">Videos</a></li>
            <li><a class="navigator__item" href="{{ path('users_index') }}">Users</a></li>
            <li><a class="navigator__item" href="{{ path('admin_favorited_index') }}">Favorited</a></li>
        </ul>
    </div>
</nav>
