{% extends '::base.html.twig' %}
{% block body %}
    {{ include '@SfWebAppFrontOffice/menu.html.twig'}}
    <div class="videoLive__container">
        <h3>Live</h3>
        {% for video in videos %}
            <article class="videoLive">
                <div class="videoLive__thumbnail">
                    <p class="videoLive__channel">{{ video.getChannel }}</p>
                    <img class="videoLive__img" src="{{ video.getThumbnail }}">
                </div>
                <div class="videoLive__duration">
                    <div class="videoLive__progress"></div>
                </div>
                <div class="videoLive__infos">
                    <p class="videoLive__infosSchedule">{{ video.getTimeStart | date('h:i') }} - {{ video.getTimeEnd | date('h:i') }}</p>
                    <h4 class="videoLive__infosTitle">{{ video.getTitle }}</h4>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
