{% extends '::base.html.twig' %}
{% block body %}
    {{ include('SfWebAppFrontOfficeBundle::header.html.twig') }}
    <div class="container">
        <section class="videoLive__section">
            <h3>Live</h3>
            <section class="videoLive__container">
                <article class="videoLive">
                    <div class="videoLive__thumbnail">
                        <p class="videoLive__channel">Octopus #{{ video.getChannel + 1 }}</p>
                        <img class="videoLive__img" src="{{ video.getThumbnail }}">
                    </div>
                    <video width="200" controls>
                        <source src="{{ vich_uploader_asset(video, 'videoFile') }}" type="video/mp4">
                        <source src="{{ vich_uploader_asset(video, 'videoFile') }}" type="video/ogg">
                    </video>
                    <div class="videoLive__duration">
                        <div class="videoLive__progress"></div>
                    </div>
                    <div class="videoLive__infos">
                        <p class="videoLive__infosSchedule">{{ video.getTimeStart | date('h:i') }}
                            - {{ video.getTimeEnd | date('h:i') }}</p>
                        <h4 class="videoLive__infosTitle">{{ video.getTitle }}</h4>
                        {{ form_start(formLike) }}
                        {{ form_widget(formLike) }}
                        {{ form_end(formLike) }}
                    </div>
                </article>
            </section>
        </section>
    </div>
    {{ include('SfWebAppFrontOfficeBundle::footer.html.twig') }}
{% endblock %}

