{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Imagename</th>
            <td>{{ product.imageName }}</td>
        </tr>
        <tr>
        <tr>
            <th>Image</th>
            <td><video controls>
                    <source src="{{ vich_uploader_asset(product, 'imageFile') }}" type="video/mp4">
                    <source src="{{ vich_uploader_asset(product, 'imageFile') }}" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('products_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('products_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
