{% extends 'base.html.twig' %}

{% block body %}
    <h1>Favoriteds list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Cssclass</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for favorited in favoriteds %}
            <tr>
                <td>
                    <a href="{{ path('admin_favorited_show', { 'id': favorited.id }) }}">{{ favorited.id }}</a>
                </td>


                <td>{{ favorited.id }}</td>


                <th>User id</th>
                <td>{{ favorited.userId.id }}</td>


                <th>Video id</th>
                <td>{{ favorited.videoId.id }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_favorited_show', { 'id': favorited.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_favorited_edit', { 'id': favorited.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <ul>
        <li>
            <a href="{{ path('admin_favorited_new') }}">Create a new favorited</a>
        </li>
    </ul>
{% endblock %}
