{% extends 'base.html.twig' %}

{% block body %}
    <h1>Favorited</h1>

    <table>
        <tbody>

        <tr>
            <th>Id</th>
            <td>{{ favorited.id }}</td>
        </tr>
        <tr>
            <th>User id</th>
            <td>{{ favorited.userId.id }}</td>
        </tr>
        <tr>
            <th>Video id</th>
            <td>{{ favorited.videoId.id }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_favorited_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_favorited_edit', { 'id': favorited.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
